@page "/counter"

<Row>
    This is some text
</Row>
<Row>
    <Table>
        @foreach (var store in Lines)
        {
            <TableRow>
                <TableRowCell>@store</TableRowCell>
                <TableRowCell Display="Display.None.TableCell.OnTablet">x</TableRowCell>
                <TableRowCell Class="numbercolumn">y</TableRowCell>
            </TableRow>
        }
    </Table>

</Row>

@code {
    private int currentCount = 0;

    private int[] Lines;
    private void IncrementCount()
    {
        currentCount++;
    }

    protected override void OnInitialized()
    {
        base.OnInitialized();

        Lines = new int[32];
        for (int i = 0; i < Lines.Length; i++)
        {
            Lines[i] = i;
        }
    }
}
